.adminContainer {
  width: 720px;
  height: 65px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
}

.adminContainer input {
  text-align: center;
  position: relative;
  border-radius: 15px;
  border-width: 2px;
  outline: none;
  width: 100px;
  height: 35px;
}

.adminContainer .btnReset {
  margin-left: 18px;
  color: white;
  background: #3b3b3bd3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.adminContainer .btnReset:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: white;
  -webkit-box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), inset 8rem 0 4px #af1717, inset 0 0 0 transparent;
          box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), inset 8rem 0 4px #af1717, inset 0 0 0 transparent;
}

.adminContainer .btnOnOff {
  margin-left: 18px;
  color: white;
  background: #3b3b3bd3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.adminContainer .btnOnOff:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: white;
  -webkit-box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), inset 8rem 0 4px #000000, inset 0 0 0 transparent;
          box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), inset 8rem 0 4px #000000, inset 0 0 0 transparent;
}

.adminContainer .btnMax {
  margin-left: 18px;
  color: white;
  background: #3b3b3bd3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.adminContainer .btnMax:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: white;
  -webkit-box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), inset 11rem 0 4px #000000, inset 0 0 0 transparent;
          box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), inset 11rem 0 4px #000000, inset 0 0 0 transparent;
}

.Max-h2 {
  text-shadow: 1px 1px #afb4b9c2;
}

.AlertReset, .AlertMax, .AlertEtat {
  background: #8f8f8fc9;
  border-radius: 8px;
  font-size: 17px;
  text-align: center !important;
  padding: 0 10px;
}

.AlertReset .react-confirm-alert-button-group, .AlertMax .react-confirm-alert-button-group, .AlertEtat .react-confirm-alert-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AlertReset h1, .AlertMax h1, .AlertEtat h1 {
  font-family: 'Courier New', monospace !important;
  font-size: 30px;
  text-align: center;
  padding: 0 10px;
  color: black;
}

.AlertReset button, .AlertMax button, .AlertEtat button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.react-confirm-alert-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Max-input {
  width: 155px;
  height: 30px;
  border-radius: 8px;
  font-size: 13px;
  text-align: center !important;
}
/*# sourceMappingURL=style.css.map */