.tableRetard
    margin: 18px

    div
        padding-bottom: 0px
    button
        position: relative
        top: -20px
        margin-left: 600px
        padding-bottom: 0px
        padding-top: 0px