.tableRetard {
  margin: 18px;
}

.tableRetard div {
  padding-bottom: 0px;
}

.tableRetard button {
  position: relative;
  top: -20px;
  margin-left: 600px;
  padding-bottom: 0px;
  padding-top: 0px;
}
/*# sourceMappingURL=style.css.map */