.adminGrpContainer div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adminGrpContainer div .groupContainer {
  width: 740px;
  display: block;
  margin: 10px;
  padding: 15px;
  border-width: 5px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#eeeeee));
  background-image: linear-gradient(to right, #ffffff, #eeeeee);
  border-radius: 20px;
}

.adminGrpContainer div .groupContainer h1 {
  margin: 5px auto auto -10px;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  height: 35px;
  font-size: 20px;
  padding: 15px 15px 10px 15px;
  background-color: #155183;
  color: White;
  position: relative;
  border-radius: 10px;
  left: 30%;
  line-height: 35px;
}

.adminGrpContainer div .tablesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 750px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adminGrpContainer div .tablesContainer .tableAttente, .adminGrpContainer div .tablesContainer .tablePause {
  width: 335px;
  margin: auto;
}

.adminGrpContainer div .tablesContainer .tableAttente .MuiToolbar-gutters, .adminGrpContainer div .tablesContainer .tablePause .MuiToolbar-gutters {
  max-height: 60px;
}
/*# sourceMappingURL=styleAdmins.css.map */