.notifContainer 
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #8f8f8fc9
  z-index: 10 !important
  display: flex
  justify-content: center
  align-items: center

  .notifHeader 
    background: #d4d4d4
    border-radius: 8px
    width: 50%
    position: relative
    min-height: 300px
    padding: 20px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    p
      font-family: 'Courier New', monospace !important
      font-size: 30px
      text-align: center
      padding: 0 10px

    .notifBtn
      display: flex
      justify-content: center


$colorA: #203d27
$colorB: #50402a
$colorC: #422a47

.btnAccepter
  &:after
    background-color: $colorA
  &:before
    background-color: lighten($colorA, 20%)

.btnDepasser
  &:after
    background-color: $colorB
  &:before
    background-color: lighten($colorB, 20%)

.btnPatienter
  &:after
    background-color: $colorC
  &:before
    background-color: lighten($colorC, 20%)

button
  font-family: Roboto, Helvetica, Arial, sans-serif
  font-weight: bold
  padding: 0.75rem 1.2rem !important
  color: #fff
  font-size: 15px
  transition: all .3s
  position: relative
  overflow: hidden
  align-items: center
  margin: 2px
  width: auto
  z-index: 1
  border: none
  outline: none
  border-radius: 8px
  
  &:after 
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -2
  
  &:before 
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 0%
    height: 100%
    
    transition: all .3s
    z-index: -1
  
  &:hover 
    color: #fff
    &:before 
      width: 100%