.middle {
  height: 60px !important;
  width: 60px !important;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  top: 20px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, transparent 50%, #1026AA 50%), linear-gradient(90deg, #1026AA 50%, white 50%);
  -webkit-animation: rotation 1200ms infinite linear;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.inner {
  background: #1026AA;
  height: 48px;
  width: 48px !important;
  margin: auto;
  position: relative !important;
  top: 6px;
  border-radius: 50%;
}

.outer {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 150px;
  margin: auto;
}

.Text {
  position: absolute !important;
  text-align: center !important;
  font-size: larger !important;
  font-weight: bold !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 180px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(630deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(630deg);
  }
}
/*# sourceMappingURL=style.css.map */