.Home-container
    width: 600px
    height: 600px
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

.Home-img
    width: 500px
    height: 255px
    background-image: url('./img/notoriety.png')
    background-size: contain
    position: absolute
    text-align: center
    bottom: 400px
    left: 0
    right: 0
    margin: auto
    z-index: -1

.Home-Message
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    text-align: center
    margin: auto

.Home-txt-img
    width: 800px
    height: 600px
    background-image: url('./img/blackboard.svg')
    background-size: cover
    position: absolute
    top: 0
    bottom: 100px
    left: -200px
    right: 0
    margin: auto
    z-index: -1

.Home-h2
    position: absolute
    font-family: 'Nunito', sans-serif
    font-size: 20px
    color: #ffffff
    position: absolute
    font-weight: 500
    top: 33.5%
    left: 0
    right: 10%

.Home-p
    font-family: 'Nunito', sans-serif
    width: 300px
    font-size: 20px
    color: #999fa5
    font-weight: 500
    position: absolute
    top: 40%
    bottom: 0
    left: 120px
    right: 0
